name: ESPHome Build

# 触发条件：推送到 main 分支或手动点击运行
on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # 1. 检出你的代码
      - uses: actions/checkout@v4

      # 2. 读取缓存以加快以后编译的速度
      - type: cache
        with:
          path: .esphome
          key: esphome-cache-${{ hashFiles('*.yaml') }}
          restore-keys: |
            esphome-cache-

      # 3. 使用 ESPHome Action 进行编译
      - name: Build ESPHome Binary
        uses: esphome/build-action@v7
        with:
          yaml_file: /examples/airm2m_core_esp32c3.yaml # 这里改成你实际的文件名
          version: latest       # 可以指定具体版本，如 2024.11.0

      # 4. 将生成的 bin 固件作为附件上传
      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: device-firmware
          path: .esphome/build/*/output/firmware.bin
